.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.filter {
  &__query {
    padding: 5px 0px;
    min-width: 70px;
    font-size: 18px;
    font-family: monospace;
    text-align: center;
    margin-top: 15px;
  }
}
.VuePagination {
  text-align: center;
}

.vue-title {
  text-align: center;
  margin-bottom: 10px;
}

.vue-pagination-ad {
  text-align: center;
}

.glyphicon.glyphicon-eye-open {
  width: 16px;
  display: block;
  margin: 0 auto;
}

.available-fields {
  margin: 0 auto;
  text-align: left;
  columns: 4;
  max-width: 1140px;

  .field-group {
    &__name {
      font-weight: bold;
      margin-top: 15px;
    }
    &__all-button{
      padding: 0;
      margin-left: 0.5em;
      border: none;
      border-bottom: 1px dashed;
      background: none;
      font-weight: normal;
    }

    &__columns{
      display: block;
      margin-left: 18px;
    }

    &__filters{
      // display: inline;
      margin-left: 18px;
    }
  }

  &__field {
    opacity: 0.7;

    &.active {
      opacity: 1;
    }

    label {
      font-weight: normal;
      margin-left: 5px;
    }
  }
}

.filter-presets {
  margin-top: 15px;
  &__button {
    background: none;
    border: none;
    // border-bottom: 1px dashed;
    padding: 0;
    margin-right: 1em;
    color: rgba(255, 0, 0, 0.87)
  }
}

.column-presets {
  margin-top: 15px;
  &__button {
    background: none;
    border: none;
    border-bottom: 1px dashed;
    padding: 0;
    margin-right: 1em;
    font-weight: normal;
  }
}

th:nth-child(3) {
  text-align: center;
}
th.VueTables__sortable {
  cursor: pointer;
  user-select: none;
}

.VueTables {
  margin-top: 15px;

  &__sort-icon {
  }

  &__search-field label,
  &__limit-field label {
    margin-right: 1em;
    border: none;
  }

  &__search-field .form-control {
    border: none;
    box-shadow: none;
  }

  &__child-row {
    text-align: left;
  }

  &__child-row-toggler {
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    margin: auto;
    text-align: center;
    cursor: pointer;
  }

  &__child-row-toggler--closed::before {
    content: '+';
  }

  &__child-row-toggler--open::before {
    content: '-';
  }

  &__table td {
    padding: 0 !important;
    position: relative;

    .cell {
      padding: 8px;

      &.colored {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &.success {
          background: #aaffaa;
        }
        &.warning {
          background: #ffffaa;
        }
        &.danger {
          background: #ffaaaa;
        }
      }
    }
  }
}
