.container {
  min-height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.msg {
  &.danger {
    color: #F56C6C;
  }
}

.help-tour-button,
.display-mode-switch {
  float: left;
  margin: 4px 3px 6px 0;
}

.filter {
  &__query {
    padding: 5px 0px;
    min-width: 70px;
    font-size: 18px;
    font-family: monospace;
    text-align: center;
    margin-top: 15px;
  }
}
.VuePagination {
  text-align: center;
}

.vue-title {
  text-align: center;
  margin-bottom: 10px;
}

.vue-pagination-ad {
  text-align: center;
}

.glyphicon.glyphicon-eye-open {
  width: 16px;
  display: block;
  margin: 0 auto;
}

// group dropdown on mobile
@media (max-width: 1000px) {
  .el-dropdown-menu.el-popper {
    display: none;
  }
}

.el-dropdown-menu__item {
  padding: 0 0;
}

.panels {
  margin-top: 15px;
  .el-collapse-item__arrow {
    margin: 0 8px 0 15px;
  }
}

.available-fields {
  margin: 0 auto;
  text-align: left;
  columns: 3;
  @media (min-width: 1800px) {
    columns: 4;
  }
  @media (max-width: 1200px) {
    columns: 2;
  }
  @media (max-width: 1000px) {
    columns: 2;
  }
  @media (max-width: 539px) {
    columns: 1;
  }
  max-width: 1900px;

  .field-group {
    padding: 0 3px;

    &:hover {
      background: #fbfbfb;
    }

    &__header {
      margin-top: 15px;
      margin-bottom: 5px;

      input[type=checkbox], input[type=radio] {
        margin-left: -18px;
      }
    }

    &__name {
      margin-left: 5px;
      font-size: 1.2rem;
      color: #222;
      font-weight: bold;
    }
  }

  &__field {
    opacity: 0.7;
    margin-left: 32px;

    &.active {
      opacity: 1;
    }

    input[type=checkbox], input[type=radio] {
      margin-left: -18px;
    }

    label {
      font-weight: normal;
      margin-left: 5px;
      vertical-align: top;
      display: inline;
    }
  }

  .field-add-input {
    margin-top: 15px;
  }
}

.filter-presets {
  margin-top: 15px;
}

.column-presets {
  margin-top: 15px;
  &__button {
    background: none;
    border: none;
    border-bottom: 1px dashed;
    padding: 0;
    margin-right: 1em;
    font-weight: normal;
    @media (max-width: 1000px) {
      padding: 5px;
    }
    &_active {
      font-weight: bold;
    }

    &_icon {
      border-bottom: none;
      span {
        border-bottom: 1px dashed;
      }
    }
  }
}

.current-columns {
  .available-fields__field {
    display: inline-block;
    margin: 0 5px;
  }
}

// ItemDetails and Stats components use it
.item-details {
  padding: 15px;
  max-width: 100vw;
  overflow-x: auto;

  &__groups {
    padding: 0;

    &-link {
      display: inline-block;
      padding: 10px;
    }
  }

  .field-preset {
    margin-left: 15px;
  }

  li {
    list-style: none;
    padding: 0;

    &:hover {
      background: #fbfbfb;
    }

    .item-details__label {
      vertical-align: top;
    }

    &.secondary {
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }

    .item-details__value {
      min-width: 75px;
      display: inline-block;
    }

    &.success,
    &.warning,
    &.danger {
      .item-details__value::after {
        margin-left: 15px;
        float: right;
      }
    }

    &.success {
      .item-details__value {
        color: #407927;
        // &::after { content: '✔'; }
      }

    }
    &.warning {
      &:not(.item-details__value_has-subvalues) .item-details__value {
        color: #a09600;
        &:not(.item-details__value_has-subvalues)::after { content: '⚠'; }
      }
    }
    &.danger {
      &:not(.item-details__value_has-subvalues) .item-details__value {
        color: #94070a;
        &::after { content: '❌'; }
      }
    }

    &:hover {
      &.success {
        background: #ccffcc;
      }
      &.warning {
        background: #ffffcc;
      }
      &.danger {
        background: #ffcccc;
      }
    }
  }

  &__title {
    font-size: 1.5rem;
  }

  &__group {
    margin-bottom: 15px;
    margin-top: 50px;

    &:target {
      padding: 75px 15px 15px;
      background: #feffba;
    }
    &-name {
      font-size: 1.2rem;
      font-weight: bold;
    }

    &-fields {
      padding: 0;
    }
  }

  &__label {
    display: inline-block;
    width: 290px;

    @media (max-width: 400px) {
      width: auto;
      margin-right: 0.5em;
      color: #999;
      &:after {
        content: ":";
      }
    }
  }
}

.table-actions {
  text-align: right;
  margin-bottom: -10px;
  .btn-excel {
    color: #008000;
  }
}

.VueTables {
  margin-top: 15px;

  &__sort-icon {
  }

  &__sortable {
    cursor: pointer;
    user-select: none;
  }

  &__search-field label,
  &__limit-field label {
    margin-right: 1em;
    border: none;
  }

  &__search-field .form-control {
    border: none;
    box-shadow: none;
  }

  &__child-row {
    text-align: left;
  }

  /* гор. прокрутка таблицы не даёт сделать закреплённые заголовки колонок */
  .table-responsive {
    overflow-x: visible;
    @media screen and (max-width: 767px) {
      overflow-y: visible;
    }
  }
  th {
    position: sticky;
    top: 0;
    box-shadow: 0 0 3px #ccc;
  }

  .VueTables__child-row-toggler {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__child-row-toggler {
    width: 18px;
    height: 30px;
    line-height: 30px;
    display: block;
    margin: auto;
    text-align: center;
    cursor: pointer;
  }

  &__child-row-toggler--closed::before {
    content: '+';
  }

  &__child-row-toggler--open::before {
    content: '-';
  }

  .table-responsive {
    @media (max-width: 768px) {
      margin: 0 -15px;
      width: auto;
    }
    /*@media (max-width: 769px) {
      overflow: none;
    }*/
  }

  &__table {
    position: relative;
    overflow: auto !important;

    th {
      background: #fff;
      position: sticky !important;
      top: 0;
      z-index: 2;
    }
    td {
      // padding: 0 !important;
      position: relative;

      &.cell {
        padding: 8px 2px;

        /* &.colored {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          &.success {
            background: #aaffaa;
          }
          &.warning {
            background: #ffffaa;
          }
          &.danger {
            background: #ffaaaa;
          }
        } */
      }

      &.align-left { text-align: left; }
      &.align-center { text-align: center; }
      &.align-right { text-align: right; }

      .float-right { float:right; }
    }

    .col-title {
      text-align: right;
    }

    @media(min-width:800px) {
      // sticky first column
      .col-default {
        position: sticky;
        left: 0;
        z-index: 1;
        background: #fff;
        max-width: 20vw;

        div {
          z-index: 2;
          background: #fff;
          overflow: hidden;
          &:hover {
            overflow: visible;
          }
        }
      }
      th.col-default {
        z-index: 2;
      }
    }
  }
}

// view mode
.mode-view {
  header .total,
  .available-fields,
  .query-input,
  .table-toolbar .total
  {
    display: none;
  }
}
